.game-descr {
  --_gap: 5rem;
  --_icon-size: 3.3rem;

  position: relative;
  display: grid;
  grid-template-columns:
    auto var(--_gap) auto var(--_gap)
    auto;
  grid-template-rows: repeat(4, minmax(calc(var(--_gap) / 2), auto));
  place-items: center;
  grid-template-areas:
    'beginning divider1 step1 divider2 step2'
    '. . . . divider5'
    'win win win divider3 step3'
    '. . . . step3'
    'lose lose lose divider4 step3';
}

.game-descr__header,
.game-descr__step1,
.game-descr__step2,
.game-descr__step3,
.game-descr__win,
.game-descr__lose {
  width: 100%;
  height: 100%;
  gap: 0.5rem;
  padding: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(var(--text));
  text-align: center;
  border: 3px outset hsla(var(--primary), 0.2);

  background-color: hsla(var(--primary), 0.2);
  border-radius: 1rem;
  box-shadow: 0px 5px 10px hsl(var(--background));
}

.game-descr__header {
  grid-area: beginning;
  align-items: center;
  text-align: center;
  gap: 0rem;
}
.game-descr__step1 {
  grid-area: step1;
  align-items: center;
}
.game-descr__step2 {
  grid-area: step2;
}
.game-descr__step3 {
  grid-area: step3;
}
.game-descr__step3 .flag-example-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.game-descr__step3 .flag-example {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
}
.game-descr__win {
  background-color: hsla(var(--accent), 0.2);
  border-color: hsl(var(--accent));

  grid-area: win;
}
.game-descr__lose {
  background-color: hsla(var(--secondary), 0.3);
  border-color: hsl(var(--secondary));
  grid-area: lose;
}

.game-descr__divider1,
.game-descr__divider2,
.game-descr__divider3,
.game-descr__divider4,
.game-descr__divider5 {
  position: relative;
  width: var(--_gap);
  height: var(--_gap);
  /* height: calc(var(--_gap) / 2); */
}
.game-descr__divider1 {
  grid-area: divider1;
}
.game-descr__divider2 {
  grid-area: divider2;
}
.game-descr__divider3 {
  grid-area: divider3;
}
.game-descr__divider4 {
  grid-area: divider4;
}
.game-descr__divider5 {
  grid-area: divider5;
}

.gamefield {
  display: grid;
}
