:root {
  --text: 10, 35%, 93%;
  --background: 11, 42%, 7%;
  --primary: 12, 46%, 74%;
  --secondary: 12, 51%, 34%;
  --accent: 12, 57%, 54%;

  --minesweeper-unopened-square-bg: 0, 0%, 72.55%;
  --minesweeper-unopened-square-border-top: 300, 20%, 99.02%;
  --minesweeper-unopened-square-border-left: 300, 20%, 99.02%;
  --minesweeper-unopened-square-border-right: 0, 0%, 45.88%;
  --minesweeper-unopened-square-border-bottom: 0, 0%, 45.88%;
}
